@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-color:#2b2b2b;
    color:white;
}
h1,h2{
    margin:3vw;
    text-align: center;
} 
p{
    margin:3vw;
    text-align: center;
}
